body {
    font-family: "Space Mono", serif;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
}

textarea {
    font-family: "Space Mono", serif;
    border: 0.15em solid #d9d9d9;
    border-radius: 1em;
    overflow: auto;
    padding: 1em;
    box-shadow: #d9d9d9;
}

button {
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    padding: 1.2em;
    box-shadow: #d9d9d9;
    font-family: "Space Mono", serif;
    font-size: medium;
    font-weight: bold;
    color: white;
}

pre {
    overflow: auto;
    white-space: pre-wrap;
    border: 0.15em solid #d9d9d9;
    box-shadow: #d9d9d9;
    padding: 1em;
}

label {
    font-weight: bold;
    font-size: large;
}

p {
    margin: 0;
    padding: 0.5em 0;
}

.header {
    border-bottom: 0.15em solid #d9d9d9;
    padding-left: 2em;
}

.header p {
    color: #b347f5;
    font-size: xx-large;
    font-weight: bolder;
}

.container {
    position: relative;
    display: grid;
    grid-gap: 2em 2em;
    grid-template-columns: 1fr 0.75fr 1.5fr;
    /* Adjusted to make hues half the width of hues-with-notes */
    gap: 2em;
    height: 100%;
    padding: 0 4em;
}

.notation {
    display: grid;
    grid-gap: 2em 2em;
    grid-template-rows: auto auto;
    position: relative;
    height: inherit;
}

.music-notation {
    /* padding-left: 2em; */
    /* padding-right: 2em; */
    width: inherit;
    /* height: inherit; */
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
    position: relative;
}

.music-notation textarea {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    height: 20em;
    background-color: transparent;
}

.parsed-note {
    position: relative;
}

.parsed-note pre {
    margin: 0;
    margin-top: 1em;
    border: 0.15em solid #d9d9d9;
    border-radius: 1em;
    height: 21em;
    background-color: #d9d9d9;
}

.line-container {
    display: flex;
    margin-bottom: 12px;
    min-width: min-content;
    padding: 0;
    margin: 0 0 12px 0;
    /* Keep only bottom margin */
}

.line-number {
    padding: 1em;
    /* background-color: #47494f; */
    width: 6px;
    font-size: x-small;
    text-align: right;
    color: #666;
    font-family: 'Space Mono', monospace;
}

.note {
    box-sizing: border-box;
    position: relative;
    height: 48px;
    border: 0.75pt solid #353638;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 7px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.note-number {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1px 4px;
    border-radius: 3px;
    z-index: 1;
}

.hues,
.hues-with-no-notes {
    overflow: auto;
    height: 45em;
    padding: 2em;
    border: 0.15em solid #d9d9d9;
    margin-top: 1em;
    border-radius: 1em;
}

#visualResult,
#visualResultNoNotes {
    width: 100%;
    padding: 0;
    margin: 0;
}

.hues>div,
.hues-with-nonotes>div {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.hues>div::-webkit-scrollbar,
.hues-with-nonotes>div::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

#unmappedNotes {
    margin-top: 20px;
    color: red;
}

#unmappedNotes ul {
    list-style-type: none;
    padding: 0;
}

#unmappedNotes li {
    margin: 5px 0;
    padding: 5px;
    background-color: #fff0f0;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
}

.button {
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

.title-container {
    text-align: center;
    margin: 20px 0;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    font-size: x-large;
    font-weight: bolder;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 0.5em;
    border: 3pt solid transparent;
}

.title:hover {
    border: 3pt solid #000000;
}

.title-input {
    font-size: x-large;
    font-weight: bold;
    font-family: "Space Mono", serif;
    border: 3pt solid #000000;
    border-radius: 0.5em;
    padding: 5px 10px;
    margin-right: 10px;
    width: 8em;
}

.confirm-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.tooltip {
    visibility: hidden;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    white-space: nowrap;
}

.title:hover+.tooltip {
    visibility: visible;
}

.footer {
    border-top: 0.15em solid #d9d9d9;
    display: flex;
    justify-content: center;
    padding: 0 2em;
}

.footer p {
    font-size: x-small;
    font-weight: lighter;
}